.main-wrapper {
  width: 100vw;
  min-width: 350px;
  max-width: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin: auto;
  padding: 23px;
  padding-top: 13px;
  box-sizing: border-box;

  font-family: "Chonburi", cursive;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

.meatball-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  .meatball {
    width: 9px;
    height: 9px;
    border-radius: 6px;
    background: #f4c7a7;
    &.current {
      background: #eb6200;
    }
  }
}

a {
  all: unset;
}
