.main-button {
  box-sizing: border-box;

  min-width: 331px;
  height: 67px;

  background: #000000;
  border: 2px solid #565656;
  border-radius: 19px;

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}
