.second-page {
  min-height: 480px;
  margin-bottom: 100px;
  .img-wrapper {
    border-radius: 11px;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img {
    width: 100%;
    height: 100%;
  }
  video {
    border-radius: 11px;
    width: 100%;
    margin-bottom: 20px;
  }
  .title {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
    white-space: pre-wrap;
  }
  &.main .title {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .artist {
    font-weight: 600;
    font-size: 17px;
  }
  .artist-wrapper {
    display: flex;
  }
  .instagram-icon {
    width: 17px;
    height: 17px;
    padding: 15px;
    transform: translate(0px, -10px);
  }
  .text {
    padding-top: 10px;
  }
}
